
*{

    font-family: 'Roboto', sans-serif;
    padding: 0%;
    margin: 0%;
}

.feed_link{

    display: grid; 
    grid-template-columns: 50% 50%; 
    width: 50%; 
    align-items: center; 
    text-align: left;
}



.icon{

    text-decoration: none;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.icon:hover{

    color: rgb(21, 161, 216);
    cursor: pointer;

}


